#about-wrap {
  min-height: 100vh;
  padding: 0 10vw 10vh 10vw;
  background-color: rgba(0, 0, 0, 0.021);
}
#about-heading {
  padding-top: 15vh;
  margin-bottom: 15vh;
}
.pros-wrap {
  width: 405px;
  height: 305px;
  border-radius: 100px;
  background-image: radial-gradient(
    circle at top left,
    rgba(54, 238, 152, 0.486) 0%,
    rgba(73, 143, 235, 0.473) 100%
  );
  box-shadow: 3px 3px 17px -6px black;
}
#pros {
  width: 400px;
  height: 300px;
  border-radius: 100px;
}
@media screen and (max-width: 450px) {
  .pros-wrap {
    margin-top: 25px;
    width: 75vw;
    height: auto;
    border-radius: 40px;
  }
  #pros {
    width: 70vw;
    height: auto;
    border-radius: 40px;
  }
}
.spin {
  display: inline-block;
  margin: 0 10px;
  animation: spin 2s linear infinite;
  animation-delay: 10000ms;
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
    transform: rotateY(0deg);
  }
  to {
    transform: rotateX(360deg);
    transform: rotateY(360deg);
  }
}
