h1 {
  margin-top: 0;
  display: block;
}
#wrap {
  height: 550px;
  min-width: 100vw;
  padding: 25px 0;
  background-color: rgb(0, 0, 0, 0.05);
}
#mountains {
  font-size: 24px;
  height: 500px;
  min-width: 100vw;
  width: 100vw;
  padding: 0 20%;
  margin: 0;
  background-image: url("../bg3.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  #mountains {
    font-size: 12px;
  }
}
#line-mount-1 {
  font-size: 3em;
  letter-spacing: 10px;
  text-align: left;
}
#animation-1 {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: none;
  animation-delay: 500ms;
}
#line-mount-2 {
  font-size: 2em;
  text-align: right;
}
#animation-2 {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: none;
  animation-delay: 1500ms;
}
#line-mount-3 {
  font-size: 4em;
  text-align: center;
}
#animation-3 {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: none;
  animation-delay: 2500ms;
}
#line-mount-4 {
  font-size: 3em;
  text-align: left;
}
#animation-4 {
  -webkit-animation-delay: 1100ms;
  -moz-animation-delay: none;
  animation-delay: 5000ms;
}
