.navbar {
  padding: 0 15% 0 25%;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgb(255, 255, 255)
  );
  -webkit-animation-delay: 8000ms;
  -moz-animation-delay: none;
  animation-delay: 8000ms;
}
@media screen and (max-width: 510px) {
  .navbar {
    margin: 0;
    padding: 8px 16px 0 0;
  }
}
.nav-link {
  text-align: right;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: black;
}
