.navbar {
  padding: 0 15% 0 25%;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgb(255, 255, 255)
  );
  animation-delay: 8000ms;
}
@media screen and (max-width: 992px) {
  .navbar {
    background-color: white;
    border-radius: 0 0 0 200px;
    box-shadow: 3px 3px 10px -6px black;
  }
}
@media screen and (max-width: 510px) {
  .navbar {
    margin: 0;
    padding: 5px 16px 5px 20px;
  }
}
.nav-link {
  text-align: right;
  cursor: pointer;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: black;
}
