#title {
  font-family: "Gilda Display", serif;
  font-size: 60px;
  letter-spacing: 10px;
  padding-left: 25px;
}

.home-page {
  height: 100vh;
  width: 100vw;
}
.row {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
}
.col-xs-8 {
  padding-left: 50px;
}
#right-half {
  perspective: 1000px;
}
.rect-round {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: black;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  padding: 70px 140px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
  transform: rotateY(-30deg) rotateX(15deg);
  border-bottom: 4px solid rgb(0, 0, 0, 0.1);
}

h1 {
  margin: 25px;
}
.rect {
  stroke: black;
  stroke-width: 3;
  fill: none;
}
#line-1 {
  font-size: 3em;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: none;
  animation-delay: 500ms;
}
#line-2 {
  font-size: 2em;
  letter-spacing: 10px;
  text-align: right;
  -webkit-animation-delay: 2000ms;
  -moz-animation-delay: none;
  animation-delay: 2000ms;
}
#line-3 {
  font-size: 1.5em;
  letter-spacing: 3px;
  text-align: center;
  -webkit-animation-delay: 4000ms;
  -moz-animation-delay: none;
  animation-delay: 4000ms;
}
#line-4 {
  font-size: 2em;
  -webkit-animation-delay: 6000ms;
  -moz-animation-delay: none;
  animation-delay: 6000ms;
}
#line-5 {
  font-size: 6em;
  letter-spacing: 30px;
  text-align: center;
  -webkit-animation-delay: 8000ms;
  -moz-animation-delay: none;
  animation-delay: 8000ms;
}
#line-6 {
  -webkit-animation-delay: 8000ms;
  -moz-animation-delay: none;
  animation-delay: 8000ms;
}
.svg-delay {
  -webkit-animation-delay: 8000ms;
  -moz-animation-delay: none;
  animation-delay: 8000ms;
}

#circle {
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
